body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 7pt;
    font-style: normal;
    background-color: #000;
    color: #fff;
    user-select: none;
}

h1 {
    font-weight: 900;
    font-size: 72px;
}





/* ==== Nav ==== */
nav {
    font-weight: 700;
    font-size: 24px;
    margin: auto;
    width: fit-content;
    
    position:fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 18px;
    width: max-content;
}

nav ul li {
    display: inline;
    padding: min(calc(100vw/72), calc(1920px/72)); /* Calc the padding between the nav components until the viewport is larger than a typical screen */
    cursor: pointer;
    transition: all cubic-bezier(0.61, 0.01, 0, 0.99) 800ms;
}

nav ul li.gallery {
    color: rgba(255, 255, 255, .50);
}
nav ul li.gallery:hover {
    color: rgba(255, 255, 255, 1);
}





/* ==== Header ==== */
header {
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
}

/* Background images */
header .background-images {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header .background-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(25%);
    position: absolute;
}


header .slider-button {
    transition: transform 1200ms cubic-bezier(0.19, 0.77, 0, 0.99);

    background-color: #00000000;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 48px;
    font-weight: 100;
    text-align: center;
    cursor: pointer;

}

/* Content */
header .content {
    width: 75%;
    height: fit-content;
    /* overflow: hidden; */
    display: grid;
    place-items: center;
    grid-template-columns: 74px auto 74px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "previous title next"
    "days-list days-list days-list";
}

header .content h1 {
    grid-area: title;
}

header .content .next-image {
    grid-area: next;
}

header .content .previous-image {
    grid-area: previous;
}

header .content .days-list {
    grid-area: days-list;
    width: fit-content;
    height: 43.9px; /* Height of a line */
    overflow: hidden;
}

header .content .days-list .days {
    display: grid;
    place-items: center;
    transition: all 1200ms cubic-bezier(0.19, 0.77, 0, 0.99);
}

header .content .days-list .days .day {
    width: fit-content;
    height: 48px;
    
    color: #ffffff7a;
    font-size: 36px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    position: relative;
}
